<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Journey</h2>
                <h3 class="section-subheading text-muted">The long path from a small town between cabbages to a
                    capital
                    city</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2017</h4>
                                <h4 class="subheading">Meldorfer Gelehrtenschule</h4>
                                <h5 class="subheading">A-Levels/Abitur</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Growing up in a small town in europes biggest cabbage farming
                                    area. Doing my A-Levels/Abitur with a focus on natural sciences.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017-2020</h4>
                                <h4 class="subheading">University of Duisburg-Essen</h4>
                                <h5 class="subheading">B.Sc. applied Cognitive- and Media Science</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In the heart of the industrial ruhr area I began studying applied
                                    cognitive- and media science. The wild mixture of psychology, business and computer
                                    science hooked me and pulled me to the world of artificial intelligence!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020-now</h4>
                                <h4 class="subheading">University of Osnabrück</h4>
                                <h5 class="subheading">M.Sc. Cognitive Science</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">With a stronger focus on artificial intelligence, software
                                    developement and a pinch of gamedesign, the University of Osnabrück was the perfect
                                    place to refine my skills in these areas.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2022-now</h4>
                                <h4 class="subheading">Finnland</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After living my whole live in germany my wanderlust took me to
                                    experience a year in Helsinki! Adventure awaits!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of My
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>