<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <h3 class="section-subheading text-muted">Things I picked up along my path...</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Programming</h4>
                <p class="text-muted">Solve Problems, automate the world or just create a fun game: Let's code!</p>
                <p class="text-muted">I code in Python, Java and C#!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Data Science</h4>
                <p class="text-muted">Somewhere in the Deep of your Data lies the key to wealth and wisdome: Let's
                    explore!</p>
                <p class="text-muted">I have experience with Pandas, Matplotlib, SPSS and Jamovi.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Gamedesign</h4>
                <p class="text-muted">Jumping, shooting and kidding around, in 3D, 2D and VR: Let's play!</p>
                <p class="text-muted">I developed games with Unity and give a course on game developement.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Artificial Intelligence</h4>
                <p class="text-muted">Deep learning, computer vision, supervised or unsupervised. Our Algorithms can
                    help make the world a better place: Let's teach them how!</p>
                <p class="text-muted">I have worked with scikit-learn and TensorFlow 2.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Presentation</h4>
                <p class="text-muted">Catchy, dramatic and well designed. Presenting is much more than the facts: Let's
                    show!</p>
                <p class="text-muted">I teached statistics, web- and gamedesign and act in my free time.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map-signs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Planning</h4>
                <p class="text-muted">Flow-Diagrams, UML and ER. Every project starts with look ahead. Let's plan!</p>
                <p class="text-muted">I organize my ideas using draw.io.</p>
            </div>
        </div>
    </div>
</section>